.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
h5{
    text-align: center;
}
img{
    margin: auto;
    width: 200px;
    height: 200px;
}
div{
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    border-radius: 10px;
    margin: 1.5rem;
    padding: 1rem;
    box-shadow: 3px 3px 10px black;
}
